# Database Configuration
ConnectionStrings__DefaultConnection="Host=localhost;Port=5432;Database=belumi_db;Username=postgres;Password=postgres"

# JWT Configuration
JwtSettings__SecretKey="Your_Secret_Key_Here"
JwtSettings__Issuer="Belumi_App"
JwtSettings__Audience="Belumi_App_Users"

# SMTP Configuration
SMTP__Host=smtp.gmail.com
SMTP__Port=587
SMTP__User=your-email@gmail.com
SMTP__Pass=your-app-password
SMTP__From=your-email@gmail.com
SMTP__DisplayName="Belumi App"
SMTP__ClientUrl=FrontEnd